p,a{
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}
h2,h5{
  margin-left: 5cm;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.back{
  display: grid;
  transition: all .5s;
  grid-template-columns: 1fr 1fr ;
  grid-column-gap: 15px;
  grid-row-gap: 15px;

}

.imgstyle{
    width: 200px;
height: 100px;

}
ul {
    list-style-type: none;
    margin: 1cm;
    padding: 0;
  }
.subtext{
    color: rgb(62, 65, 65);
    font-size: 12px;
    margin-left: 1cm;
}
.text{
    margin-top: 0cm;
}
.list_item{
  border-radius: 5px;
  background-color: rgba(180, 179, 179, 0.555);
}
