
p,a{
  
    font-family: "Times New Roman", Times, serif;
  color: black;
}
h3,h5{
  text-align: center;
  background-color: rebeccapurple;
  font-family: Georgia, 'Times New Roman', Times, serif

}
.back{
  background-color: rgb(248, 209, 238);
}

.imgstyle{
    width: 100px;
height: 100px;
}